<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <a class="navbar-brand" href="#">ngPhonebook App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Contacts</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="this.isAuthenticated">
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <a class="nav-link" id="navbarAccountDropdownMenuLink" ngbDropdownToggle>Account</a>
                <div ngbDropdownMenu aria-labelledby="navbarAccountDropdownMenuLink">
                    <button class="dropdown-item">Logged in as: {{userName}}</button>
                    <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="!this.isAuthenticated">
            <li class="nav-item">
                <a class="nav-link" (click)="login()" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>
