<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <a class="navbar-brand" href="#">ngPhonebook App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Contacts</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" *ngIf="!this.isLoggedIn" [routerLink]="['login']">Login</a>
                <a class="nav-link" *ngIf="this.isLoggedIn" [routerLink]="['login']">Log out</a>
            </li> -->
        </ul>
    </div>
</nav>
