<form class="form-horizontal">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Delete Contact Number?</h4>
            <button type="button" class="close" aria-label="Close" (click)="d()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the contact number?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('ok')">Ok</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">Cancel</button>
        </div>
    </ng-template>

    <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <p class="form-control-static">{{contactNumber.description}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Telephone Number</label>
        <div class="col-md-10">
            <p class="form-control-static">{{contactNumber.telephoneNumber}}</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-default" [routerLink]="['/contacts/contact/', contactNumber.contactId]">Back To List</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/contacts/contact-number/edit', contactNumber.contactId, contactNumber.id]">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteConfirmation(content, contactNumber.id)">Delete</button>
        </div>
    </div>
</form>